{% extends 'base.html' %} <!-- Se va a heredar de la plantilla base-->
{% block title %} Frutales {% endblock %}

{% block frutales %}
    <nav class="nav_categoria_diseño" id="nuestros_productos">
        <h1 class="nav__title_categoria">Frutales</h1>
    </nav>

    <div class="nav_fondo_categoria">
        {% for producto in frutales %}
        <div class="producto-fila producto">
            <!-- Columna 1: Imagen y nombre -->
            <div class="columna columna-imagen">
                <img src="{{ url_for('static', filename='img/' ~ producto.imagen) }}" alt="{{ producto.nombre_producto }}" style="max-width: 200px; max-height: 200px; object-fit: cover;">
                <h2>{{ producto.nombre_producto }}</h2>
            </div>

            <!-- Columna 2: Descripción -->
            <div class="columna columna-descripcion">
                <p>{{ producto.descripcion }}</p>
            </div>

            <!-- Columna 3: Precio, stock y agregar al carrito -->
            <div class="columna columna-precio">
                <h2>S/ {{ producto.precio }}</h2>
                <p><strong>Stock:</strong> {{ producto.stock }}</p>
                <div class="cantidad-carrito">
                    <button class="btn-menos">-</button>
                    <input type="number" value="1" min="1" class="input-cantidad">
                    <button class="btn-mas">+</button>
                    <button class="agregar-carrito" data-id="{{ producto.id_producto }}">Agregar al carrito</button>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}