html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(230, 245, 216);
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Mini Menu*/

.nav { /* Fondo del Menu */
    background-color: rgb(0, 244, 49);

    display: flex; /* Para que una imagen quede a lado de otra*/
    align-items: center; 
    justify-content: center; /* Centra todos los elementos en la barra */
    padding: 10px; 
    /* Despliegue de imagenes */
    --img1: scale(1);
    --img2: scale(0);
}

.nav__title {
    margin: 0;
    font-size: 40px; /* Aumentar el tamaño */
    
}

.nav__logo {
    
    height: 40px; /* Configura la altura */
    width: auto; /* Mantiene la proporción */
    margin-right: 10px; /* margen de separacion por derecha */
}

.nav__telefono {
    height: 40px; 
    width: auto; 
    margin-right: 10px;
    
    margin-left: 20px; /* margen de separacion por izquierda */
} 

.nav__list_del_menu {
    margin: 0;
}

.nav__item_del_menu {
    display: inline-block; /* Nos permite alinear en una fila */
}

.nav__link_menu {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
    font-size: 19px;
    transition: background-color 0.3s; /* Efecto */
}

.nav__link_menu:hover { /* Diseño cuando paso el cursor */
    background-color: rgb(30, 237, 137);
    border-style: solid;
    border-color:black;
    border-radius: 5px;
    border-width: 2pt;
}

/* Transicion de imagenes */

.imagenes_transision{
    position: relative; 
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img{

    height: 800px;
    width: 1600px;
    border-radius: 15px;
    margin: 5px;
    filter: saturate(175%);  /* Más calidad */
}


.puntos{
    display: flex;
    justify-content: center;
}

.puntos p {
    font-size: 40px; /* Más pequeño */
    margin: 0 5px;   /* Menos separacion */
}


.puntos .bold{
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #3803a2 ;
}
   
.contenedor_imagen {
    position: relative; /* Necesario para posicionar el texto encima */
    
}

.texto_imagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px 30px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
}

.texto_imagen p {
    margin: 10px 0 0 0;
}
/*Carrito*/

.submenu {
    list-style: none;
    position: relative;
}
.submenu #carrito{
    display: none;
}
.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2;
    background-color: #b9e4b8;
    padding: 15px;
    backdrop-filter: blur(10px);
    width: 350px;

    max-height: 300px;
    overflow-y: auto;
    
    border-radius: 10px;
}

/*  ICONO DEL CARRITO  */
#img-carrito {
    width: 40px;     
    height: auto;
    cursor: pointer;
}

/*  TABLA DEL CARRITO  */
#lista-carrito {
    width: 100%;
    border-collapse: collapse;
}


#lista-carrito th, 
#lista-carrito td {
    color: #000;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

#lista-carrito img {
    width: 40px;
    height: auto;
    border-radius: 5px;
}

.botones-carrito {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 10px; /* Espacio entre botones */
}

/* ==== BOTÓN VACIAR Y PAGAR CARRITO ==== */
.boton_vaciar {
    display: block;
    text-align: center;
    margin-top: 15px;
    padding: 8px 10px;
    background-color: #ff4d4d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}
.boton_pagar {
    display: block;
    text-align: center;
    margin-top: 15px;
    padding: 8px 10px;
    background-color: #03f403;
    color: #fff;
    text-decoration: none;
    border-radius: 5px; 
    transition: background 0.3s ease;
}

.boton_vaciar:hover {
    background-color: #cc0000;
}

.boton_pagar:hover {
    background-color: #09aa04;
}

/* ==== BOTÓN ELIMINAR INDIVIDUAL ==== */
.borrar {
    background-color: #111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
}

.borrar:hover {
    background-color: #ff0000;
}

#resumen-tabla {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0; /* Espaciado arriba y abajo */
}

#resumen-tabla th, 
#resumen-tabla td {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

/* Nuestros Productos */
.nav_fondo_categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(43, 255, 0, 0.965);
    width: 1600px;
    margin: 50px auto;
    font-size: 25px;
}


.nav_categoria {

    display: flex; /* Para que una imagen quede a lado de otra*/
    align-items: center; 
    justify-content: center; /* Centra todos los elementos en la barra */
    padding: 10px; /* paddding o separacion entre filas*/
    
}

.nav__list_categoria {
    display: flex;
    flex-wrap: wrap; /* Permite que se acomoden correctamente si no caben en una fila */
    justify-content: center;
    gap: 15px; /* Espaciado entre productos */
}

.nav__item_categoria {
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 15px;

    flex-direction: column; /* Para alinear imagen y texto */
    width: 150px; /* Ajusta el ancho */
    height: auto; /* Ajusta la altura */

    text-align: center;
    transition: background-color 0.3s, transform 0.2s; /* Agrega animación */
}

.nav__item_categoria:hover {
    background-color: rgb(85, 247, 44); /* Cambia este color al que prefieras */
    transform: scale(1.05); /* Efecto */
}

.nav__item_categoria .imagen {
    width: 120px; /* Ancho fijo */
    height: 120px; /* Altura fija */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px; /* Espaciado entre la imagen y el título */
}


.nav_categoria_diseño {
    display: flex;
    font-size: 30px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    margin-top: 75px; /* Aumenta la separación del encabezado */
}

.nav__title_categoria {
    margin: 0;
    font-size: 50px; /* Aumentar el tamaño */
    
}

/*Diseño de productos*/

.producto-fila {
    display: flex;
    padding: 20px;
    gap: 10px;
}

.columna {
    border: 1px solid #000;
    background-color: #bbf08d;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
}
.columna-descripcion{
    width: 700px;
}

.columna-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columna-precio {
    text-align: center;
}

.cantidad-carrito {
    display: flex;
    justify-content: center;     /* Centra horizontalmente */
    align-items: center;         /* Centra verticalmente */
    gap: 10px;
}

.cantidad-carrito input {
    width: 50px;
    text-align: center;
    padding: 5px;
}

.agregar-carrito {
    padding: 6px 12px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.agregar-carrito:hover {
    background-color: #218838;
}

/* Nuestros servicios y ventas adicionales */

.nav__link_descripcion {
    color: black;
    display: inline-block;
    padding: 10px;
}

.nav__comment {
    color: rgb(56, 37, 37);
    display: block;

    font-size: 14px; /* tamaño de la letra*/
}

/* Muestra de plantas y precios */
.flexbox {
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.flex-item {
    width: 200px;
    border: 1pt solid black;
    border-radius: 10px;
    background-color: rgb(85, 247, 44);
    color: #3d0606;
    font-size: 18px;
    text-align: center;
    flex: 1 1 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Estilos para la imagen con tamaño fijo */
.imagen {
    width: 150px;  /* Ajusta el ancho de la imagen */
    height: 150px; /* Ajusta la altura de la imagen */
    object-fit: cover; /* Recorta la imagen sin deformarla */
    border-radius: 5px;
}

/* Estilos para el nombre */
.nombre{
    font-weight: bold;
    font-size: 16px;
}

/* Estilos para el precio */
.precio {
    font-size: 14px;
    color: #ff0000;
    font-weight: bold;
} 

/* Pie de página */
footer {
    background-color: black;
    padding: 2rem;
    color: aliceblue;
}

/* Contenedor del pie de página */
.footer-container {
    display: flex;
    justify-content: space-between;
}

/* Sección izquierda */
.footer-left {
    display: flex;
    flex-direction: column;
}

/* Sección centro */
.footer-center {
    text-align:start;
}

/* Sección derecha */
.footer-right {
    text-align: start;
}

/* Enlaces */
footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

footer a:hover {
    color: #ff0000;
}

.imagen_1 {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}

/*Inicio de Secccion*/
.nav_inicio_seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(43, 255, 0, 0.965);
    width: 430px;
    margin: 40px auto;
    font-size: 18px;
}

.nav_inicio_seccion form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav_inicio_seccion input[type="text"],
.nav_inicio_seccion input[type="password"],
.nav_inicio_seccion input[type="number"],
.nav_inicio_seccion input[type="file"],
select[name="id_categoria"]{
    padding: 12px;
    font-size: 20px;
    border: 1px solid #343333;
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
}
.descripcion {
    width: 100%;           /* Ocupa todo el ancho disponible */
    height: 250px;         /* Más alto que un input normal */
    padding: 12px;
    font-size: 18px;
    border: 1px solid #343333;
    border-radius: 6px;
    box-sizing: border-box;
    resize: vertical;      /* El usuario podrá redimensionarlo verticalmente si quiere */
}

/* Registrarse */

.btn_iniciar,
.btn_registrarse {
    display: inline-block; /* Muy importante para aplicar padding correctamente */
    text-align: center;
    text-decoration: none;
    background-color: #28a745;
    color: white;
    padding: 14px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.btn_registrarse:hover {
    background-color: #1e7e34;
}


.btn_iniciar {
    background-color: #007BFF;
    color: white;
}

.btn_iniciar:hover {
    background-color: #0056b3;
}

.btn_registrarse {
    background-color: #28a745;
    color: white;
}

.btn_registrarse:hover {
    background-color: #1e7e34;
}

/* Ojito */
.ojito {
    position: relative;
}

.ojitoinput {
    width: 100%;
    padding-right: 40px; /* espacio para el ojito */
    box-sizing: border-box;
}

#togglePassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
}


/* Despligue */

.nav:has( .dropdown:target ){
    --img1: scale(0);
    --img2: scale(1);

    --clip:inset(0 0 0 0);

}

.nav_despliegue{

    display: grid;
    position: absolute;
    left: 10px;
    
}

.nav__menu_despliegue{
    grid-area: img;
    position: relative;
    z-index: 5;

    transform: var(--img1);
}

.nav__menu_despliegue--second{
    transform: var(--img2);
}

.nav__icon{
    width: 30px;
    display: block;
}
.dropdown {
    position: absolute;
    background-color: #b3f364;
    width: 10%;
    max-width: 300px;
    left: 0;
    top: -20px;
    bottom: 0;
    padding: 1em;
    z-index: 3;
    border-radius: 15px;

    display: grid;
    align-content:center ;
    gap: 1rem;

    overflow-y: auto;

    clip-path: var(--clip, inset(0 100% 100% 0));
    transition: clip-path .5s;
}

.dropdown__list{
    list-style: none;
}

.dropdown__link{
    color: rgb(0, 0, 0);
    padding: 1em .7em;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.dropdown__list:has( :checked ){
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #d6fbd6;
}

.dropdown__icon{
    width: 30px;
    display: block;
}

.dropdown__check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__arrow{
    width: 15px;
    display: block;
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: .2s transform;
}

.dropdown__content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}

.dropdown__sub{
    overflow: hidden;

}

.dropdown__li{
    width: 85%;
    list-style: none;
    margin-left: auto;
}

.dropdown__anchor{
    padding: 1em 0;
    display: block;
    color: #000000;
    text-decoration: none;
}

.nav_visualizar_datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(43, 255, 0, 0.965);
    width: 1300px;
    margin: 50px auto;
    font-size: 25px;
}

.nav__tabla{
    background-color: brown;color: aliceblue;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}
.table td {
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
}

/* Posiciona el botón cerrar sesión abajo */
.cerrar_sesion_abajo {
    position: relative;
    padding-bottom: 10px;
    
}
