{% extends 'base.html' %} <!-- Se va a heredar de la plantilla base-->
{% block title %} contactanos {% endblock %}

{% block contactanos %}
    <!-- Contactanos-->

    <nav class="nav_categoria" id="nuestros_productos">
        <img src="{{ url_for('static', filename='img/Imagenes/icono_contactos.webp')}}" class="nav__logo" >

        <h1 class="nav__title">
            Contactanos
        </h1>
    </nav>

    <nav class="nav_categoria">     

        <ul class="nav_visualizar_datos">
                <img src="{{ url_for('static', filename='img/Imagenes/imagen_contactos.jpg')}}" class="imagen">
                <span>
                    ¿Tienes alguna pregunta sobre nuestras plantas ornamentales?<br><br>
                    ¿Deseas recibir asesoría personalizada o tienes un pedido especial?<br><br>
                    Estamos aquí para ayudarte.<br><br>
                    📞 Teléfono: +51 949 040 678<br>
                    📧 Correo electrónico: jardines_eden@gmail.com<br>
                    📍 Dirección: Calle Federico Recavarren, 131, Int. 501, Lima, Perú<br>
                    🕐 Horario de atención: Lunes - Sabado: 6:00 am - 8:00 pm.<br>
                    🕐 Horario de atención: Domingo: 8:00 am - 6:00 pm.<br><br>
                    También puedes escribirnos directamente a través de nuestro formulario de contacto o por nuestras redes sociales.<br><br>
                    💬 ¡Nos encantará saber de ti!
                </span>
        </ul>

    </nav>
    
{% endblock %}