{% extends 'base.html' %} <!-- Se va a heredar de la plantilla base-->
{% block title %} nosotros {% endblock %}

{% block nosotros %}
    <!-- Nosotros-->

    <nav class="nav_categoria" id="nuestros_productos">
        <img src="{{ url_for('static', filename='img/Imagenes/nosotros_icono.png')}}" class="nav__logo" >

        <h1 class="nav__title">
            Nosotros
        </h1>
    </nav>

    <nav class="nav_categoria">     

        <ul class="nav_visualizar_datos">
                <img src="{{ url_for('static', filename='img/Imagenes/imagen_nosotros.jpg')}}" class="imagen">
                <span>
                    Propósito y justificación del proyecto:<br><br>
                    A raíz de la pandemia por COVID-19, muchas empresas se vieron obligadas a adaptarse al entorno digital para seguir operando. “NaturaSale”, una tienda física dedicada a la venta de plantas, ha identificado esta necesidad y busca implementar una plataforma web que le permita seguir vendiendo sus productos ante situaciones similares, además de ampliar su alcance hacia clientes que actualmente no pueden acceder a su tienda física. Para ello, se ha solicitado el desarrollo de un sistema web con catálogo dinámico y carrito de compras, que facilite las ventas en línea, mejore la atención al cliente y fortalezca su presencia digital. <br><br><br>
                    Descripción del proyecto y entregables:<br><br>
                    El presente proyecto tiene como objetivo el desarrollo de un sistema web para la venta en línea de los productos de la empresa Natura. Este sistema permitirá a los clientes visualizar un catálogo actualizado de productos, agregar ítems a un carrito de compras, y realizar pedidos de manera sencilla y eficiente. El proceso de desarrollo incluirá las siguientes etapas: planificación, análisis, diseño e implementación. Como parte del análisis, se mantendrán reuniones con representantes de la empresa con el fin de identificar y documentar sus necesidades, preferencias y requisitos funcionales. Basado en estos, se elaborarán prototipos de diseño y una vez validados, se procederá con la construcción e implementación del sistema. Finalmente, el sistema será desplegado en un servidor funcional para su uso.
                </span>
        </ul>

    </nav>
{% endblock %}